.topbar {
  height: 40px;
  background-color: green;
  display: flex;
  align-items: center;
  padding: 8px;
  box-sizing: border-box;
}

.topbar__logo {
  max-height: 100%;
}

.topbar__link {
}

.topbar__button {
}

.topbar__button--right {
  margin-left: auto;
}
