.topbar {
  height: 40px;
  background-color: var(--color-ocean);
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 8px;
  box-sizing: border-box;
  font-size: 16px;
  color: white;
}

.topbar__logo {
  max-height: 100%;
}

.topbar__link {
  text-decoration: none;
  color: white;
}

.topbar__button {
}

.topbar__button--right {
  margin-left: auto;
}
