.topbar {
  min-height: 40px;
  background-color: var(--color-ocean);
  display: flex;
  align-items: center;
  padding: 4px;
  gap: 8px;
  box-sizing: border-box;
  font-size: var(--font-size-large);
  color: white;
}

.topbar__logo {
  height: 32px;
}

.topbar__link {
  text-decoration: none;
  color: white;
  padding: 0 8px;
  border-radius: 4px;
  font-weight: 300;
}

.topbar__link:hover {
  background-color: var(--color-marine);
}

.topbar__button {
  background-color: var(--color-sand);
  text-decoration: none;
  color: black;
  user-select: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
}
.topbar__button:hover {
  background-color: white;
}

.topbar__button--right {
  margin-left: auto;
}
