@import 'components/ColorPicker/ColorPicker.css';
@import 'components/ColorPicker/ColorPickerModal.css';
@import 'components/Layout/Layout.css';
@import 'components/ReedSummary/ReedSummary.css';
@import 'components/Topbar/Topbar.css';

:root {
  --color-earth: #edc7b7;
  --color-sand: #eee2dc;
  --color-mud: #bab2b5;
  --color-ocean: #123c69;
  --color-royal: #ac3b61;

  --font-size-medium: 16px;
  --font-size-large: 20px;
}

@font-face {
  font-family: 'Karla';
  src: url('../fonts/karla/Karla-VariableFont_wght.ttf') format('truetype');
}

body {
  /* font-family: 'Karla'; */
  font-family: 'Tahoma', sans-serif;
  font-size: var(--font-size-medium);
  font-variation-settings: 'wght' 300;
  background: var(--color-sand);
}
