@import 'components/Button/Button.css';
@import 'components/ColorPicker/ColorPicker.css';
@import 'components/ColorPicker/ColorPickerModal.css';
@import 'components/Modal/Modal.css';
@import 'components/Textarea/Textarea.css';
@import 'components/Form/Form.css';
@import 'components/Layout/Layout.css';
@import 'components/ReedSummary/ReedSummary.css';
@import 'components/Topbar/Topbar.css';
@import 'components/ReedPage/ReedPage.css';

@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap';

:root {
  --color-earth: #edc7b7;
  --color-sand: #eee2dc;
  --color-mud: #bab2b5;
  --color-ocean: #123c69;
  --color-marine: #485c74;
  --color-sunny: #f4a261;
  --color-marijuana: #2a9d8f;
  --color-marijuana-light: #4dcb9f;
  --color-royal: #ac3b61;

  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 20px;

  --color-base: #3a3a3a;
  --color-dark: #10101f;
  --color-light: #7a7a7a;
  --color-almost-white: #f6f6f6;
}

/* the universal box-sizing reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  font-size: var(--font-size-medium);

  background: var(--color-almost-white);
  background: var(--color-sand);
  color: var(--color-base);
}
