.reed-page {
  --swatch-width: 10px;
  --padding-size: 8px;
  --border-radius: 8px;
  --border-width: 2px;

  /*
  Alas, this is not supported by all browsers yet. So it's implemented in JS for now.
  --clamped-border-color: solid hsl(from var(--reed-color, black) h s clamp(0, l, 0.7));
  --clamped-background-color: hsl(from var(--reed-color, black) h s clamp(0.95, l, 1));
  */

  position: relative;
  border-radius: var(--border-radius);
  padding: calc(2 * var(--padding-size)) var(--padding-size) var(--padding-size)
    calc(var(--swatch-width) + var(--padding-size));

  background: var(--clamped-background-color);
  /* background: var(--color-almost-white); */

  border: var(--border-width) solid var(--reed-color);
  border-left-width: var(--swatch-width);
}

.reed-page__header {
  display: flex;
  gap: 8px;
}

.reed-page__back-button {
  /* remove <button> styles */
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;

  height: 24px;
  width: 24px;
  display: flex;
  /* center contents */
  align-items: center;
  justify-content: center;
  color: #090909;

  border-radius: 4px;
}
/* hover effect: subtle grey background */
.reed-page__back-button:hover {
  background: #aaaaaa;
  color: white;
}

.reed-page__h1 {
  margin: 0;
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--color-dark);
}

.reed-page__h2 {
  margin: 0;
  font-size: var(--font-size-large);
  font-weight: bold;
  color: var(--color-base);
}

.reed-page__two-columns {
  display: flex;
  gap: 32px;
}

/* wrap on small screens */
@media (max-width: 600px) {
  .reed-page__two-columns {
    flex-direction: column;
  }
}

.reed-page__descriptions {
  flex-shrink: 0;
}

.reed-page__history {
}

.reed-page__dl {
  display: grid;
  grid-template-columns: minmax(auto, 160px) 1fr;
  gap: 16px;
}

.reed-page__dt {
  margin: 0;
  color: var(--color-light);
}

.reed-page__dd {
  margin: 0;
  display: block;
}

.reed-page__hr {
  height: 1px;
  border: none;
  background-color: var(--reed-color);
}

.reed-page__action-buttons {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  padding: 16px 0;
}

.reed-page__entry {
  background: var(--color-almost-white);
  /* background: var(--clamped-background-color); */
  padding: 16px;
  margin: 8px 0;
  border-radius: 8px;

  /* gentle box-shadow */
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.reed-page__entry-time {
  color: var(--color-light);
  margin-bottom: 8px;
}

.reed-page__event__primary-text {
  color: var(--color-marijuana);
}

.reed-page__discard-event {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-royal);
}
